@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url("nav+footer.css");
@import url("rwd.css");

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:"微軟正黑體";
	background:url(../images/index_bg.jpg) no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

/*section*/

.pad_pc{
	display:none;
}

.phone{
	display:block;
}

section{
	width:90%;
	position:relative;	
	margin:70px auto;
}

section h1{
	margin:20px auto 30px;	
	color:#fff;	
	text-align:center;
	font-size:40px;
	font-weight:600;
	font-family: 'Noto Serif TC', serif;
	letter-spacing:5px;
}

article{
	width:100%;
	box-sizing:border-box;
	margin-bottom:30px;
	padding:10px;
	background:rgb(255,255,255,0.8);
	letter-spacing:3px;
}

article .picbox, article .desbox{
	align-items: center;
	box-sizing:border-box;
	padding:10px;
}

article .desbox{
	line-height:1.5em;/*1.5倍行高*/
}

article .picbox{	
	justify-content:center;
}

.desbox h2{
	color:#4a596a;
	line-height:1.5em;
	padding:5px 0px;
	font-family: 'Noto Serif TC', serif;
}

.desbox p{
	text-align:justify;
	padding:10px 0px;
}

mark{
	background:#bb8784;
	color:#fff;
	padding:5px;
}

.picbox img{
	width:100%;
}

/*footer*/
footer{
	clear:both;
}

@media only screen and (min-width:768px){
	
.phone{
	display:none;
}

.pad_pc{
	display:block;
	width:80%;
}

section h1{
	font-size:50px;
}

article{
	display: flex;
	padding:20px 28px;
}

article .picbox{
	display:-webkit-flex;
	display: flex;
}
.desbox h2{
	padding:20px 0px;
}

.picbox img{
	width:90%;
}

}